.container {
    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    margin: 1em auto 1em auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-top: 1.5em;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px; 
}

.container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 80px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .container h1 {
    font-size: 150px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .container h1 {
    font-size: 200px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn-group {
    font-size: 0;
    line-height: 1;
    white-space: nowrap;
    display: inline;
}

.btn-group button {
    width: 33%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    background: #34495e;
    color: #fff;
    border: 1px solid #bdc3c7;
    border-left-width: 0;
    display: inline-block;
    padding: 0.25em 1.25em;
    outline: 0;
}

.btn-group button:last-child {
    border-right-width: 0;
    width: 34%;
}

.btn-group button:first-child {
    border-radius: 0 0 0 8px;
}

.btn-group button:last-child {
    border-radius: 0 0 8px 0;
}

.btn-group button:active {
    background: transparent;
    color: #4d4d4d;
}

.laps {
    padding: 10px;
}

.lap {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}